@mixin headings {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@mixin sections {
  grid-area: main;
  display: flex;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container {
  display: grid;
  // grid-gap: 1em;
  grid-template-areas: 
  "header"
  "main"
  "footer"
}

.container__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.container__section {
  @include sections();
}

.container__section--top {
  flex-flow: column; 

  .container__header__cta {
    @include headings;
    font-size: 2.5rem;
  }
}

.container__section__cta {
  flex-flow: column;
}

.container__section__stats {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.container__section__footer {
  grid-area: footer;
  background-color: hsl(192, 100%, 9%);
}

.footer__img {
  grid-area: main;
}